<div id="<%= dom_id ocom_store %>">
  <p>
    <strong>Name:</strong>
    <%= ocom_store.name %>
  </p>

  <p>
    <strong>Content menu:</strong>
    <%= ocom_store.content_menu_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ocom_store.description %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= ocom_store.owner_id %>
  </p>

</div>
