<p style="color: green"><%= notice %></p>

<%= render @ocom_menu %>

<div>
  <%= link_to "Edit this ocom menu", edit_ocom_menu_path(@ocom_menu) %> |
  <%= link_to "Back to ocom menus", ocom_menus_path %>

  <%= button_to "Destroy this ocom menu", @ocom_menu, method: :delete %>
</div>
